body{
    background-color: mediumslateblue;
}
section{
    background-color: rgba(255, 255, 255, 0.26);
    height: 400px;
    width: 600px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto;
    text-align: center;
   
}
button{
    padding: 10px 10px;
    border-radius: 3px 3px 3px 3px;
    background-color: mediumpurple;
    border: 3px solid mediumslateblue  ;
}
.time{
    background-color: mediumpurple;
    padding: 10px 10px 10px 10px;
    border: 3px solid mediumslateblue  ;
}

